/*
Project Name: Matchmaker
Client: GA
Author: rachel malone
Developer @GA in Sydney
*/


/******************************************
/* SETUP
/*******************************************/

body{
    font-family: 'Source Sans Pro' sans-serif;
}

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
    -webkit-font-smoothing:antialiased;
    font-smoothing:antialiased;
}

/* Clear fix hack */
.cf:after,
.cf:before{
    content: " ";
    display: table;
}

.cf:after {
  clear: both;
}

.cf{
    *zoom:1;
}

/******************************************
/* Header
/*******************************************/

header{
    width: 100%;
    background: black;
    padding: 20px;
    border-bottom: 4px #f8ff00 solid;
}

header h1{
    font-family: 'Merriweather' serif;
    color: #f8ff00;
    font-weight: 900;
}

nav{
    width: 100%;
    text-align: right;
    margin-top: 10px;
}

nav a{
    color: white;
    font-size: 16px;
    text-decoration: none;
    font-weight: 700;
    margin-left: 10px;
    letter-spacing: -0.3px;
    display: inline-block;
    vertical-align: middle;
}

nav a:first-child, nav a:nth-child(2){
    font-family: 'Oswald' sans-serif;
    text-transform: uppercase;   
}

h2.heading{
    width: 100%;
    margin: 0;
    padding: 20px;
    font-family: 'Merriweather' serif;
    font-style: italic;
    font-weight: 700;
    text-align: center;
    background: #ccc;
}

h2.heading del{
    color: #9b9b9b;
}

h2.heading span{
    border-bottom: 2px #f8ff00 solid;
}

section {
    width: 100%;
    background: url(img/coworking.jpg);
    background-size: cover;
    background-position: center center;
    padding: 20px;
}

.pullout{
    width: 40%;
    float: right;
    background: rgba(255,255,255,0.8);
    padding: 20px;
    box-shadow: 0 0 6px rgba(0,0,0,0.8);
}

.pullout h2{
    font-size: 22px;
}

.pullout p{
    margin-top: 0;
    padding-top:5px; 
    margin-bottom: 20px;
}

.pullout a{
    display: inline-block;
    width: 100%;
    font-family: 'Oswald' sans-serif;
    font-size: 15px;
    background: #f8ff00;
    color: #000;
    text-align: center;
    padding: 10px;
    border-radius: 5px;  
    text-decoration:none;
    text-transform: uppercase;
    font-weight: 600;
    box-shadow: 0 2px 0 #c6cc00;
}

.col-3{
    padding: 20px;
}

.col-3 article{
    width: 31.5%;
    float: left;
    margin-right:2.5%;
    padding-right: 2.5%;
    border-right: 1px #d9d9d9 solid;
    
}

.col-3 article:last-of-type{
    margin-right: 0;
    padding-right: 0;
    border-right: 0;
}

.col-3 h3{
    font-family: 'Merriweather';
    font-size: 20px;
    margin-bottom: 10px;
}

.col-3 p{
    margin-top: 0;
    padding-bottom: 5px;
    font-size: 15px;
    line-height: 22px;
}

.col-3 a{
    display: inline-block;
    width: 100%;
    font-family: 'Oswald' sans-serif;
    font-size: 15px;
    background: #c6c6c6;
    color: #000;
    text-align: center;
    padding: 10px;
    border-radius: 5px;  
    text-decoration:none;
    text-transform: uppercase;
    font-weight: 600;
    box-shadow: 0 2px 0 #9e9e9e;
}

footer{
    background: #000;
    padding: 15px 20px;
    color: #fff;
    font-size: 13px;
}
    


    
